:root {
    --white: #fbffff;
    --light: #f4effc;
    --dark: #1e1034;
    --primary: #ff6e6c;
    --primary-hover: #e5484d;
    --secondary: #67558c;
    --secondary-hover: #463486;
    --info: #93e3fb;
    --accent1: #a163fc;
    --accent2: #6d77c1;
    --accent3: #9ea4d0;
    --success: #68b700;
    --warning: #ffc67f;
    --danger: #fb006a;
}
