button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    border: 1px solid var(--dark);
    transition: all 0.3s ease-in-out;
}

.btn-large {
    height: 4vh;
}

.btn-rounded {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.btn-primary {
    background: var(--primary);
    color: var(--dark);
}

.btn-primary:hover {
    background: none;
    border: 1px solid var(--primary);
    color: var(--primary);
}

.btn-primary:hover i {
    color: var(--dark);
}

.btn-primary:active {
    background: hsla(0, 100%, 60%, 0.3);
    border: 1px solid var(--primary);
    color: var(--primary);
}

.btn-primary:active i {
    color: var(--dark);
}

.btn-secondary {
    background: transparent;
}

.btn-secondary:hover {
    border: 1px solid var(--secondary-hover);
    background: var(--info);
    color: var(--dark);
}

.btn-secondary:active {
    border: 1px solid var(--secondary-hover);
    background: none;
    color: var(--dark);
}
