@import url(./global.css);
@import url(./colors.css);
@import url(./text-style.css);
@import url(./button.css);

:root {
    --navbar-height: 8vh;
}

.container {
    /* Isso dá certo pois no global.css o body está com position: absolute */
    margin-top: var(--navbar-height);
    transition: all 0.5s ease-in-out;
}

.active-page {
    color: var(--info);
    outline: 1px solid var(--info);
    border-radius: 0.5rem;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1; /* Traz a header para frente no eixo-z. Ou seja, tampa o que está em baixo. */
    color: white;
}

.top-info-promotion-box {
    text-transform: uppercase;
    font-weight: 500;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 10%;
    background: var(--dark);
    height: var(--navbar-height);
}

.button-group {
    display: flex;
    gap: 1rem;
}

.logo-link a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-link svg {
    height: 4vh;
}

nav a,
i {
    color: var(--light);
}

nav a:hover,
i:hover {
    color: var(--primary);
}

.acc-shop-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.acc-shop-button .shopping-account-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.nav-links li {
    display: inline-block;
    padding: 0 1em;
}

.logo {
    fill: var(--light);
    left: 50%;
    position: absolute; /* Centraliza a logo no centro da navbar. */
    transform: translateX(-50%); /* Centraliza a logo no centro do viewport. */
    cursor: pointer;
    height: 2rem;
}

.logo:hover {
    fill: var(--primary);
}

.hero {
    display: flex;
    gap: 1rem;
    position: relative;
    padding: 1rem;
    /* border: 1px solid blue; */
    /* margin-left: 64px;
    margin-right: 64px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 85vh; /* 97.5 faz deixar aquela sobra entre o fim da hero e início do footer. */
}

.hero-text {
    position: relative;
    width: 50%;
    /* border: 1px solid red; */
}

.section-bottom-btn {
    background: var(--dark);
    position: absolute; /* Se tirar esse position absolute, dá problema. */
    bottom: 20vh;
    left: 50%; /* Deixa centralizado. */
    transform: translateX(-50%); /* Centraliza o botão */
}

.shopping-categories {
    border-top: 1px solid var(--accent2);
    height: 50vh;
    background: var(--info);
    display: flex;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.shopping-category-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.shopping-card-row {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.shopping-category-card {
    height: 10em;
    width: 20em;
    background: var(--light);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.shopping-category-card:hover {
    background: var(--dark);
    color: var(--light);
    cursor: pointer;
}

.shopping-category-card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

footer {
    /*  */
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-around;
    align-items: top;
    padding: 2rem 64px 2rem 64px;
    height: auto;
    background: var(--primary);
}

.contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    height: auto;
}

.contact-box img {
    height: 2rem;
}

.footer-site-categories {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.footer-site-categories a {
    color: var(--dark);
}

.footer-site-categories a:hover {
    color: var(--info);
}
