/*  */

$white: #ffffff;

$theme-colors: (
    "light": #dee9f7,
    "dark": #2e32c9,
    "primary": #4555da,
    "secondary": #a47df5,
    "info": #fcb4ea,
    "accent1": #e75e77,
    "accent2": #d265a1,
    "accent3": #b4f6f0,
    "success": #18c374,
    "warning": #ead413,
    "danger": #fe2208,
);

/*  */

$white: #100203;

$theme-colors: (
    "light": #ffc9af,
    "dark": #fcfdfd,
    "primary": #ddbaa5,
    "secondary": #e98130,
    "info": #993a22,
    "accent1": #ebcaa0,
    "accent2": #c0a49d,
    "accent3": #c15660,
    "success": #62bd1f,
    "warning": #fec87c,
    "danger": #fc0e65,
);

/*  */

$white: #ffffff;

$theme-colors: (
    "light": #ddd9dd,
    "dark": #88185b,
    "primary": #c41c21,
    "secondary": #e23967,
    "info": #fbdbbe,
    "accent1": #1080fd,
    "accent2": #f38d90,
    "accent3": #e6bad3,
    "success": #6cbd07,
    "warning": #ffc886,
    "danger": #fd026b,
);

/*  */

$white: #ffffff;

$theme-colors: (
    "light": #fbedf0,
    "dark": #5a1efc,
    "primary": #2a6bff,
    "secondary": #7389ea,
    "info": #b8dcf2,
    "accent1": #fa62af,
    "accent2": #6886fb,
    "accent3": #d2e0fd,
    "success": #00c874,
    "warning": #fec87c,
    "danger": #fc0e65,
);

// #19044D
// #2E0B88
// #4313C4
// #5a1efc /* Primary */
// #682DFF
// #783EFF
// #895BFF
// #9B79FF
// #AF97FF
// #C5B6FF
// #DCD4FF
// #F4F2FF

$white: #ffffff;

$theme-colors: (
    "light": #fdfbfd,
    "dark": #852aba,
    "primary": #d64de4,
    "secondary": #dd83ff,
    "info": #d9dafd,
    "accent1": #ff853a,
    "accent2": #fb6da8,
    "accent3": #ffcdea,
    "success": #00cf85,
    "warning": #e8d900,
    "danger": #fc3600,
);

$white: #ffffff;

$theme-colors: (
    "light": #edcbc2,
    "dark": #662728,
    "primary": #83452f,
    "secondary": #c64d2a,
    "info": #f7dbbf,
    "accent1": #de3922,
    "accent2": #dd452b,
    "accent3": #f9d2c1,
    "success": #65b71c,
    "warning": #fec67c,
    "danger": #f90d67,
);
